.login-form{
  padding-top:20px;
  margin: auto;
}

.login-form form {
  max-width:1280px;
  padding:50px 70px;
  border-radius:10px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color:#fff;
  text-align: center;
}

.login-form form h3 {
  font-weight:bold;
  margin-bottom:30px;
}

.login-form .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}

.login-form .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#3f93ff;
  border:none;
  color:white;
  margin-top:20px;
}

@media (max-width: 576px) {
  .login-form form {
    padding:50px 20px;
  }
}